<div class="card-tallbox col-xs-10 col-xs-offset-1">
  <br class="clear" />
  <div class="col-xs-8">
    <h1><%= @user.email %></h1>
    <h3>Member Since: <%= @user.created_at.strftime("%d %B, %Y") %></h3>
    <br class="clear" />

    <h4><%= @user.comments.count %> total comments</h4>
    <h4><%= @user.comments.where(:rating => '5_stars').count %> total 5-stars reviews</h4>
  </div>

  <div class="col-xs-4 pull-right">
    <%= image_tag 'userprofile.png' %>
  </div>
  <br class="clear" />
  <hr />

  <h2 class="text-center">My Comments</h2>
  <% @user.comments.each do |comment| %>
    <blockquote>
      <%= comment.message %>
      <br />
      <% if comment.humanized_rating.present? %>
        <b id="star"><%= comment.humanized_rating %></b>
        <br />
      <% end %>
      <b>@ <%= link_to comment.place.name, place_path(comment.place) %></b>
    </blockquote>
  <% end %>


</div>