<div class="card-tallbox col-xs-10 col-xs-offset-1">
  <h2>Update Details for this Place</h2>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Update', :class => 'btn btn-success' %>
    <br class="clear" />
    <br />
    <hr class="clear" />
    <%= link_to 'Delete Place', place_path(@place), :method => :delete, :data => {:confirm => 'Are you sure to delete this place?'}, :class => 'btn btn-danger pull-right' %>
    <br class="clear" />
    <br />
  <% end %>
</dvi>