<!-- <div class="container-fluid">
  <div class="col-xs-12">
    <div class="container-fluid col-xs-10 col-xs-offset-1"> -->
      <%= paginate @places %>
      <br />
      <% @places.each do |place| %>
          <div class="card-tallbox col-xs-5">
            <img src="/dummypic.jpg" class="image">
            <h6><%= link_to place.name, place_path(place) %></h6>
            <i><p><%= place.address %></p></i>
            <p><%= place.description %></p>
            
            <% if place.user.present? %>
              <small><%= "Added by #{place.user.email}" %></small>
            <% end %>
          </div>
      <% end %>
  <!--   </div>
  </div>
</div>
      
       -->