<div class="pull-right"><%= paginate @places %></div>
<br class="clear"/>

<div class="container">
  <div class="row">
    <% @places.each do |place| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card-tallbox col-xs-12">
          <h3><%= link_to place.name, place_path(place) %></h3>
          <i><p><%= place.address %></p></i>
          <p><%= place.description %></p>
          
          <% if place.photos.present? %>
              <%= image_tag place.photos.order("id DESC").last.picture, :class => "img-responsive img"%>
          <% end %>
          <br />

          <% if place.comments.present? %>
            <div class="col-xs-12">
              <blockquote>
                <%= place.comments.order("id ASC").last.message %>
                <br />
                <% if place.comments.order("id ASC").last.humanized_rating.present? %>
                  <b id="star"><%= place.comments.order("id ASC").last.humanized_rating %></b>
                <% end %>
                <small><%= place.comments.order("id ASC").last.user.email %></small>
              </blockquote>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br class="clear"/>
<div class="pull-right"><%= paginate @places %></div>