<div class="card-tallbox col-xs-10 col-xs-offset-1">
  <h1>Add a New Place Here</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name, :label => 'Restaurant Name', :placeholder => 'Champagne Bar' %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Submit', :class => 'btn btn-success' %>
    <br class="clear"/>
    <br />
    <br />
    <br />
  <% end %>
</dvi>